.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  display: inline-block;
  height: 40px;
  margin: 0 2px 15px;
  padding: 0 20px;
  width: auto;
  overflow: visible;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all .1s ease-out;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}


.button-primary {
  background-color: #4caf50;
  color: #fff;
  border-color: #4caf50;
}


.button:focus, .button:hover, button:focus, button:hover, input[type='button']:focus, input[type='button']:hover, input[type='reset']:focus, input[type='reset']:hover, input[type='submit']:focus, input[type='submit']:hover {
  opacity: 0.85;
  cursor: pointer;
  transform: scale(1.025);
}


.button-danger {
  background-color: #f44336;
  color: #fff;
  border-color: #f44336;
}

.button-primary-outlined {
  background-color: #fff;
  color: #4caf50;
  border-color: #4caf50;
}

 input[type="text"]{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding: 10px;
   line-height: 20px;
   font-size: 16px;
   font-weight: inherit;
   background: #fff;
   border-radius: 5px;
   border: 1px solid #bdbdbd;
   width: 100px;
   display: inline-block;
 }
